pelican
pelican-jupyter
pelican-liquid-tags
pelican-render-math
Markdown
ghp-import
ipython
## ref: https://pypi.org/project/minchin.pelican.plugins.summary/
semantic-version
minchin.pelican.plugins.summary
minchin.pelican.plugins.autoloader
