pelican
pelican-jupyter
pelican-liquid-tags
pelican-render-math
Markdown
Markup
ghp-import
#ipython
ipython==7.18.1
beautifulsoup4
### ref: https://pypi.org/project/minchin.pelican.plugins.summary/
#semantic-version
#minchin.pelican.plugins.summary
#minchin.pelican.plugins.autoloader
#